<!-- cover start (desktop)-->
<div class="row">
  <div class="col s12">
    <div class="page-title">
      <h1 class="text-center" style="margin-bottom: 10px;">About</h1>
    </div>
  </div>
  <div class="col s5"></div>
  <div class="col s2">
    <div class="divider"></div>
  </div>
  <div class="col s5"></div>
</div>
<!-- cover end (desktop)-->

<!-- about start (desktop)-->
<div class="row">
  <div class="col s2"></div>
  <div class="col s8">
    <p style="padding-top: 50px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p style="padding-top: 20px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <p style="padding-top: 20px; padding-bottom: 50px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="col s2"></div>
</div>
<!-- about end (desktop)-->

<!-- footer start (desktop) -->
<footer class="page-footer" style="background-color: #52880B;">
  <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="row">
      <div class="col s6">
        <h5 class="white-text">Join Our Newsletter!</h5>
        <div class="input-field">
          <input type="text" placeholder="Email Address" />
          <a class="waves-effect waves-light btn-large newsletter-btn">Signup</a>
        </div>
      </div>
      <div class="col s2"></div>
      <div class="col s4">
        <h5 class="white-text">Company</h5>
          <ul>
            <li><a class="grey-text text-lighten-3 footer-option" href="#!">Team</a></li>
            <li><a class="grey-text text-lighten-3 footer-option" href="#!">Partner with us</a></li>
            <li><a class="grey-text text-lighten-3 footer-option" href="#!">Terms of Use</a></li>
            <li><a class="grey-text text-lighten-3 footer-option" href="#!">Service Areas</a></li>
            <li><a class="grey-text text-lighten-3 footer-option" href="#!">Contact Us</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span style="padding-right: 20px;">© 2016 Yarden, All Rights Reserved</span>
      <a class="social-icon" href="https://www.facebook.com/YardenMyGarden" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a class="social-icon" href="https://twitter.com/YardenMyGarden" target="_blank">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
      <a class="social-icon" href="https://plus.google.com/100292823495128676685" target="_blank">
        <i class="fa fa-google-plus-square" aria-hidden="true"></i>
      </a>
      <a class="social-icon" href="https://www.linkedin.com/company/12903995" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <a class="social-icon" href="https://www.instagram.com/yardenmygarden" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a class="social-icon" href="https://www.pinterest.com/YardenMyGarden" target="_blank">
        <i class="fa fa-pinterest-square" aria-hidden="true"></i>
      </a>
      <a class="social-icon" href="https://yardenmygarden.tumblr.com/" target="_blank">
        <i class="fa fa-tumblr-square" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>
<!-- footer end (desktop) -->
