<!-- cover start (desktop) -->
<div class="row">
  <div class="col s7" style="padding: 0px 0px 0px 0px;">
    <h1 style="margin-bottom: 0px; padding: 20px 0px 0px 10px;">Become a Yardener</h1>
    <p style="padding-left: 15px; color: #666666;">Earn money while making a difference</p>
    <img src="ngApp/images/career-cover.jpg" class="career-cover"/>
  </div>
  <div class="col s4" style="padding: 0px 0px 0px 0px;">
    <div class="z-depth-1" style="margin-top: 70px; border-left: 1px solid #EEEEEE; border-right: 1px solid #EEEEEE;">
      <h5 style="padding: 20px 0px 20px 20px; border-bottom: 1px solid #EEEEEE; background-color: #F2F2F2; color: #666666;">Apply Now!</h5>
      <div class="row">
        <form class="col s12" style="padding: 10px 10px 50px 10px;">
          <div>
            <div class="row" style="margin-bottom: 0px;">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" placeholder="First Name">
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" placeholder="Last Name">
              </div>
            </div>
            <div class="row" style="margin-bottom: 0px;">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" placeholder="Email">
              </div>
            </div>
            <div class="row" style="margin-bottom: 0px;">
              <div class="input-field col s12">
                <input type="text" placeholder="Phone" />
              </div>
            </div>
            <div class="row" style="margin-bottom: 0px;">
              <div class="input-field col s12">
                <input type="text" placeholder="City" />
              </div>
            </div>
            <div class="row" style="margin-bottom: 0px;">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" placeholder="Password">
              </div>
            </div>
            <div class="row" style="margin-bottom: 0px;">
              <div class="input-field col s12">
                <input id="confirm" type="password" class="validate" placeholder="Confirm Password">
              </div>
            </div>
            <div class="row" style="margin-bottom: 0px;">
              <div class="input-field col s12">
                <a class="waves-effect waves-light btn-large signup-btn">Submit</a>
              </div>
              <div class="col s12">
                <div class="text-center" style="padding-top: 20px;">
                  <a style="cursor: pointer">Terms & Conditions</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col s1" style="padding: 0px 0px 0px 0px;">
    <div class="filler"></div>
    <!-- <img src="ngApp/images/honeycomb.png" class="filler"/> -->
  </div>
</div>
<!-- cover end (desktop) -->

<!-- app start (desktop) -->
<div class="row">
  <div class="col s5" style="padding: 50px 0px 0px 0px;">
    <img src="ngApp/images/mobile-in-hand.png"/>
  </div>
  <div class="col s1"></div>
  <div class="col s5" style="padding: 170px 0px 0px 0px;">
    <h5>Work Through The App</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p style="color: #8BC63F; cursor: pointer;">
      DETAILS <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </p>
  </div>
  <div class="col s1"></div>
</div>
<!-- app end (desktop) -->

<!-- pay start (desktop) -->
<div style="background-color: #EEEEEE;">
  <div class="row">
    <div class="col s2"></div>
    <div class="col s5">
      <h5 style="padding: 170px 0px 0px 0px;">Get Paid With Ease</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <a class="waves-effect waves-light btn-large inquiry-btn">Apply Now</a>
    </div>
    <div class="col s1"></div>
    <div class="col s4" style="padding: 30px 0px 30px 0px;">
      <img src="ngApp/images/wallet.png" style="width: 100%;" />
    </div>
  </div>
</div>
<!-- pay end (desktop) -->
