
<!-- navbar start (desktop) -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <img src="/ngApp/images/logo.png" class="responsive-img"/>
      <a class="brand-logo green-five company-name">Yarden</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="nav-option"><a href="sass.html" class="green-five">About</a></li>
        <li class="nav-option"><a href="badges.html" class="green-five">Careers</a></li>
        <li class="nav-option"><a href="collapsible.html" class="green-five">Pricing</a></li>
        <li class="nav-option"><a href="collapsible.html" class="green-five">Blog</a></li>
        <li class="nav-option"><a href="collapsible.html" class="green-five">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- navbar end (desktop) -->

<!-- cover start (desktop) -->
<div class="row">
  <div class="col s12">
    <h2
      class="company-slogan center-align"><b>Yarden</b> helps you get the<br> most value out of your extra yard space.
    </h2>
    <div class="center-align">
      <a class="waves-effect waves-light btn-large get-started-btn">Get Started</a>
      <a class="waves-effect waves-light btn-large learn-more-btn">Learn More</a>
    </div>
  </div>
</div>
<img src="ngApp/images/cover.png" class="cover-img"/>
<!-- cover end (desktop) -->

<!-- earn or save start (desktop) -->
<div class="row">
  <div class="col s12">
    <h3 class="center-align section-title">Earn or Save. The Choice Is Yours.</h3>
  </div>
  <div class="col s3">.</div>
  <div class="col s3">
    <h5 class="center-align">Earn</h4>
    <p class="center-align para" style="padding-right: 5px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
    </p>
  </div>
  <div class="col s3">
    <h5 class="center-align">Save</h4>
    <p class="center-align para" style="padding-left: 5px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
    </p>
  </div>
  <div class="col s3">.</div>
</div>
<!-- earn or save end (desktop) -->
