
<!-- navbar start (desktop) -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <img src="/ngApp/images/logo.png" class="responsive-img"/>
      <a class="brand-logo green-five company-name">Yarden</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="nav-option"><a href="sass.html" class="green-five">About</a></li>
        <li class="nav-option"><a href="badges.html" class="green-five">Careers</a></li>
        <li class="nav-option"><a href="collapsible.html" class="green-five">Pricing</a></li>
        <li class="nav-option"><a href="collapsible.html" class="green-five">Blog</a></li>
        <li class="nav-option"><a href="collapsible.html" class="green-five">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- navbar end (desktop) -->
