<div class="login-background">
  <!-- login form start (desktop)-->
  <div class="row">
    <div class="col s4"></div>
    <div class="col s4">
      <div class="z-depth-1" style="background-color: #FFFFFF; margin-top: 100px;">
        <h5 style="padding: 20px 0px 20px 20px; border-bottom: 1px solid #EEEEEE; background-color: #F2F2F2; color: #666666;">Login</h5>
        <div class="row">
          <form class="col s12" style="padding: 10px 10px 10px 10px;">
            <div>
              <div class="row" style="margin-bottom: 0px;">
                <div class="input-field col s12">
                  <input type="email" class="validate" placeholder="Email" />
                </div>
                <div class="input-field col s12">
                  <input type="password" class="validate" placeholder="Password" />
                </div>
                <div class="input-field col s12">
                  <a class="waves-effect waves-light btn-large signup-btn">Sign In</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row" style="margin-bottom: 0px;">
          <div class="col s12 text-center">
            <span>Or sign in via</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a class="waves-effect waves-light btn-large signup-btn">
              <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
            </a>
          </div>
          <div class="input-field col s12">
            <a class="waves-effect waves-light btn-large signup-btn">
              <i class="fa fa-google-plus-square" aria-hidden="true"></i> Google
            </a>
          </div>
          <div class="input-field col s12">
            <a class="waves-effect waves-light btn-large signup-btn">
              <i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter
            </a>
          </div>
          <div class="col s6 text-left" style="padding: 10px 0px 10px 10px;">
            <a style="cursor: pointer;">New Account</a>
          </div>
          <div class="col s6 text-right" style="padding: 10px 10px 10px 0px;">
            <a style="cursor: pointer;">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s4"></div>
  </div>
  <!-- login form end (desktop)-->
</div>
