
<!-- cover start (desktop) -->
<div class="row">
  <div class="col s2"></div>
  <div class="col s8">
    <h1 class="text-center page-title">2 Simple, Straight-Foward Plans</h1>
  </div>
  <div class="col s2"></div>
  <div class="col s5"></div>
  <div class="col s2">
    <div class="divider"></div>
  </div>
  <div class="col s5"></div>
</div>
<!-- cover end (desktop) -->

<!-- plans start (desktop) -->
<div class="row">
  <div class="col s3"></div>
  <div class="col s3" style="padding: 50px 0px 50px 0px;">
    <div class="z-depth-1 text-center" style="background-color: #FFFFFF; margin-top: 30px;">
      <div style="background-color: #e6e6e6; width: 100%; color: #666666">
        <h4 class="text-center" style="padding: 20px 0px 20px 0px;">EAT</h4>
      </div>
      <div style="padding: 5px 20px 20px 20px;">
        <h5 style="border-bottom: 1px solid #EEEEEE; padding-bottom: 10px;">Keep your produce</h5>
        <h4 style="padding-top: 10px;">$XXXX/mo</h4>
        <p style="border-bottom: 1px solid #EEEEEE; padding-bottom: 20px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <span style="padding: 20px 0px 20px 0px;">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        <a class="waves-effect waves-light btn-large signup-btn" style="margin-top: 20px;">Signup</a>
      </div>
    </div>
  </div>
  <div class="col s3" style="padding-top: 50px;">
    <div class="z-depth-1 text-center" style="background-color: #FFFFFF; margin-top: 30px;">
      <div style="background-color: #e6e6e6; width: 100%; color: #666666">
        <h4 class="text-center" style="padding: 20px 0px 20px 0px;">EARN</h4>
      </div>
      <div style="padding: 5px 20px 20px 20px;">
        <h5 style="border-bottom: 1px solid #EEEEEE; padding-bottom: 10px;">Sell your produce</h5>
        <h4 style="padding-top: 10px;">FREE</h4>
        <p style="border-bottom: 1px solid #EEEEEE; padding-bottom: 20px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <span style="padding: 20px 0px 20px 0px;">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        <a class="waves-effect waves-light btn-large signup-btn" style="margin-top: 20px;">Signup</a>
      </div>
    </div>
  </div>
  <div class="col s3"></div>
</div>
<!-- plans end (desktop) -->

<!-- vegetables start (desktop) -->
<div style="background-color: #F2F2F2;">
  <div class="row text-center" style="padding-bottom: 50px;">
    <div class="col s12">
      <h3 class="center-align" style="padding: 50px 0px 0px 0px; color: #666666;">Enjoy Your Favorite Vegetables</h3>
      <h5 class="center-align" style="padding: 0px 0px 50px 0px; color: #666666;">We offer a wide variety of produce that is ready to harvest in 30-45 days!</h5>
    </div>
    <div class="col s3">
      <h5>Lettuce</h5>
      <img src="ngApp/images/lettuce.png" />
    </div>
    <div class="col s3">
      <h5>Spinach</h5>
      <img src="ngApp/images/spinach.png" />
    </div>
    <div class="col s3">
      <h5>Tomatoes</h5>
      <img src="ngApp/images/tomato.png" />
    </div>
    <div class="col s3">
      <h5>Carrots</h5>
      <img src="ngApp/images/carrot.png" />
    </div>
  </div>
  <div class="row text-center" style="padding-bottom: 50px;">
    <div class="col s3">
      <h5>Cucumber</h5>
      <img src="ngApp/images/cucumber.png" />
    </div>
    <div class="col s3">
      <h5>Brocolli</h5>
      <img src="ngApp/images/brocolli.png" />
    </div>
    <div class="col s3">
      <h5>Radishes</h5>
      <img src="ngApp/images/radish.png" />
    </div>
    <div class="col s3">
      <h5>Zuchini</h5>
      <img src="ngApp/images/zuchini.png" />
    </div>
  </div>
</div>
<!-- vegetables end (desktop) -->

<!-- sizes start (desktop) -->
<div class="row">
  <div class="col s12">
    <h3 class="center-align" style="padding: 50px 0px 30px 0px;">Choose Your Own Garden Size</h3>
  </div>
  <div class="col s3"></div>
  <div class="col s6">
    <h5>Small (10x10)</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="col s3"></div>
</div>
<div class="row">
  <div class="col s3"></div>
  <div class="col s6">
    <h5 style="border-top: 1px solid #EEEEEE; padding-top: 30px;">Medium (25x25)</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="col s3"></div>
</div>
<div class="row">
  <div class="col s3"></div>
  <div class="col s6">
    <h5 style="border-top: 1px solid #EEEEEE; padding-top: 30px;">Large (50x50)</h5>
    <p style="padding: 0px 0px 50px 0px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="col s3"></div>
</div>
<!-- sizes end (desktop) -->

<!-- no brainer start (desktop) -->
<div class="row text-center">
  <div class="col s12">
    <div style="border-top: 2px solid #EEEEEE;">
      <h3 style="padding: 50px 0px 30px 0px;">It's a No-Brainer</h3>
    </div>
  </div>
  <div class="col s2"></div>
  <div class="col s8" style="padding-bottom: 50px;">
    <h4>Ask yourself, how much time to you honestly spend in your yard? Probably not that much.</h4>
    <h4 style="padding-top: 20px;">It's time to put that empty potential to use.</h4>
    <a class="waves-effect waves-light btn-large inquiry-btn">Signup Now!</a>
  </div>
  <div class="col s2"></div>
</div>
<!-- no brainer end (desktop) -->
