
<!-- cover start (desktop) -->
<div class="row">
  <div class="col s2"></div>
  <div class="col s8">
    <h1 class="text-center page-title">2 Simple, Straight-Foward Plans</h1>
  </div>
  <div class="col s2"></div>
  <div class="col s5"></div>
  <div class="col s2">
    <div class="divider"></div>
  </div>
  <div class="col s5"></div>
</div>
<!-- cover end (desktop) -->

<!-- plans start (desktop) -->
<div class="row">
  <div class="col s3"></div>
  <div class="col s3" style="padding-top: 50px;">
    <div class="z-depth-1 text-center" style="background-color: #FFFFFF; margin-top: 30px;">
      <div style="background-color: #e6e6e6; width: 100%; color: #666666">
        <h4 class="text-center" style="padding: 20px 0px 20px 0px;">SAVE</h4>
      </div>
      <div style="padding: 5px 20px 20px 20px;">
        <h5 style="border-bottom: 1px solid #EEEEEE; padding-bottom: 10px;">Yarden Garden</h5>
        <h4 style="padding-top: 10px;">$XXXX/mo</h4>
        <p style="border-bottom: 1px solid #EEEEEE; padding-bottom: 20px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <span style="padding: 20px 0px 20px 0px;">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        <a class="waves-effect waves-light btn-large signup-btn" style="margin-top: 20px;">Signup</a>
      </div>
    </div>
  </div>
  <div class="col s3" style="padding-top: 50px;">
    <div class="z-depth-1 text-center" style="background-color: #FFFFFF; margin-top: 30px;">
      <div style="background-color: #e6e6e6; width: 100%; color: #666666">
        <h4 class="text-center" style="padding: 20px 0px 20px 0px;">EARN</h4>
      </div>
      <div style="padding: 5px 20px 20px 20px;">
        <h5 style="border-bottom: 1px solid #EEEEEE; padding-bottom: 10px;">Agri-Space</h5>
        <h4 style="padding-top: 10px;">FREE</h4>
        <p style="border-bottom: 1px solid #EEEEEE; padding-bottom: 20px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <span style="padding: 20px 0px 20px 0px;">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        <a class="waves-effect waves-light btn-large signup-btn" style="margin-top: 20px;">Signup</a>
      </div>
    </div>
  </div>
  <div class="col s3"></div>
</div>
<!-- plans end (desktop) -->
