<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Yarden</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>

  <!-- navbar start (desktop) -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/">
          <img src="/ngApp/images/logo.png" class="responsive-img"/>
        </a>
        <a class="brand-logo company-name" href="/">Yarden</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="nav-option"><a href="/about" class="navbar-link">About</a></li>
          <li class="nav-option"><a href="/careers" class="navbar-link">Careers</a></li>
          <li class="nav-option"><a href="/pricing" class="navbar-link">Pricing</a></li>
          <li class="nav-option"><a href="collapsible.html" class="navbar-link">Blog</a></li>
          <li class="nav-option"><a href="collapsible.html" class="navbar-link">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- navbar end (desktop) -->

  <!-- renders views start -->
  <ui-view></ui-view>
  <!-- renders views end -->

  <!-- footer start (desktop) -->
  <!-- <footer class="page-footer" style="background-color: #52880B;">
    <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
      <div class="row">
        <div class="col s6">
          <h5 class="white-text">Join Our Newsletter!</h5>
          <div class="input-field">
            <input type="text" placeholder="Email Address" />
            <a class="waves-effect waves-light btn-large newsletter-btn">Signup</a>
          </div>
        </div>
        <div class="col s2"></div>
        <div class="col s4">
          <h5 class="white-text">Company</h5>
            <ul>
              <li><a class="grey-text text-lighten-3 footer-option" href="#!">Team</a></li>
              <li><a class="grey-text text-lighten-3 footer-option" href="#!">Partner with us</a></li>
              <li><a class="grey-text text-lighten-3 footer-option" href="#!">Terms & Conditions</a></li>
              <li><a class="grey-text text-lighten-3 footer-option" href="#!">Service Areas</a></li>
              <li><a class="grey-text text-lighten-3 footer-option" href="#!">Contact Us</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <span style="padding-right: 20px;">© 2016 Yarden, All Rights Reserved</span>
        <a class="social-icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a class="social-icon"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class="social-icon"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        <a class="social-icon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="social-icon"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
        <a class="social-icon"><i class="fa fa-tumblr-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </footer> -->
  <!-- footer end (desktop) -->

  <!-- frameworks/libs -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <!-- app scripts -->
  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>

  <!-- color scheme
    http://paletton.com/palette.php?uid=12u0u0klPrdciFmhCv7q0nztsiL

    (greens)
    MAIN: #8BC63F
    LIGHT: #C8F094
    MED: #6FAB20
    DARK: #52880B

    (browns)
    DARK: #5b3f25;

    (grays)
    LIGHT: #EEEEEE
  -->
</body>

</html>
