<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Yarden</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>

  <ui-view></ui-view>

  <!-- frameworks/libs -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <!-- app scripts -->
  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>

  <!-- color scheme
    http://paletton.com/palette.php?uid=12D0u0khArz7BJucDx8lVn0qvik

    (greens)
    MAIN: #81C157
    LIGHT: #CCEEB6
    LIGHT-MD: #ABE188
    MD: #5EA133
    DARK: #408016

    (browns)
    DARK: #5b3f25;
  -->
</body>

</html>
