/* element selectors */

body {
  font-family: 'Josefin Sans'
}

nav {
  height: 69px;
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 10px;
}

p {
  font-size: 20px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0px 0px 0px 0px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #408016;
    box-shadow: 0 1px 0 0 #408016;
}

/* helper classes */
.green-one {
  color: #81C157;
}

.green-two {
  color: #CCEEB6;
}

.green-two-btn {
  background-color: #CCEEB6;
}

.green-three {
  color: #ABE188;
}

.green-four {
  color: #5EA133;
}

.green-five {
  color: #408016 !important;
  font-size: 20px;
}

.green-five:hover {
  background-color: #FFFFFF;
}

.section-title {
  padding-top: 50px;
  padding-bottom: 50px;
}

.para {
  font-size: 20px;
}

/* home */
.company-name {
  padding-left: 5px !important;
  padding-top: 5px !important;
}

.nav-option {
  padding-top: 5px !important;
}

.company-slogan{
  padding-top: 80px;
}

.cover-img {
  width: 100vw;
}

.get-started-btn {
  background-color: #81C157;
  font-size: 20px;
}

.get-started-btn:hover {
  background-color: #408016;
  color: #FFFFFF;
}

.learn-more-btn {
  background-color: #ABE188;
  color: #666666;
  font-size: 20px;
}

.learn-more-btn:hover {
  background-color: #408016;
  color: #FFFFFF;
}

.signup-btn {
  background-color: #81C157;
  font-size: 20px;
  width: 100%;
}

.signup-btn:hover {
  background-color: #408016;
  color: #FFFFFF;
}

.avatar-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.faq {
  border-top: 1px solid #EEEEEE;
  padding-top: 15px
}
